.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.speechtext{
  display: flex;
  justify-content: space-around;
}

.App-link {
  color: #61dafb;
}
