.App {
  /* text-align: center; */
  background-image: url('images/newbg.jpg');
  background-repeat: repeat;
  background-size: auto;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

#plane{
  /* position: absolute; */
  /* top: 13%;
  left: 30%; */
  z-index: 3;
  animation: rotate 5s infinite linear;
}

#world{
  /* position: absolute; */
  /* top: 26%;
  left: 34%; */
  z-index: 1;
}

.speechoutput{
  width: 45%;
  color: #EBEBEB;
  background-color: #272727;
  padding: 25px;
  border-radius: 25px;
  margin: 10px;
  box-shadow: 0px 8px 8px 2px #1c1c1c;
}

.SpeechInput{
  width: 45%;
  color: #EBEBEB;
  background-color: #272727;
  padding: 25px;
  border-radius: 25px;
  margin: 10px;
  box-shadow: 0px 8px 8px 2px #1c1c1c;
}

.hearOutLoudButton{
  margin-left: 20px;
  font-weight: bold;
  color: #A594F9;
  background-color: #333333;
  border: 2px solid #333333;
  border-radius: 10px;
  padding: 6px;
  font-size: calc(4px + 2vmin);
}
.hearOutLoudButton:hover{
  color: #272727;
  background-color: #A594F9;
  border: 2px solid #A594F9;
  cursor: pointer;
}

.translateButton{
  margin-left: 20px;
  font-weight: bold;
  color: #1e1e1e;
  background-color: #A594F9;
  border: 2px solid #A594F9;
  border-radius: 10px;
  padding: 6px;
  font-size: calc(4px + 2vmin);
}

.translateButton:hover{
  color:white;
  background-color: #A594F9;
  border: 2px solid #A594F9;
  cursor: pointer;
}

.SaveButton{
  margin-left: 20px;
  font-weight: bold;
  color: #A594F9;
  background-color: #333333;
  border: 2px solid #333333;
  border-radius: 10px;
  padding: 6px;
  font-size: calc(4px + 2vmin);
}

.SaveButton:hover{
  color: #272727;
  background-color: #A594F9;
  border: 2px solid #A594F9;
  cursor: pointer;
}

.MessageForm .hearOutLoudButton{
  font-weight: bold;
  color:#1e1e1e;
  background-color: #A594F9;
  border: 2px solid #A594F9;
  border-radius: 10px;
  padding: 6px;
  font-size: calc(4px + 2vmin);
}

.MessageForm .hearOutLoudButton:hover{
  color: #EBEBEB;
  background-color: #A594F9;
  border: 2px solid #A594F9;
  cursor: pointer;
}

.DeleteButton{
  margin-left: 20px;
  font-weight: bold;
  color: #A594F9;
  background-color: #333333;
  border: 2px solid #333333;
  border-radius: 10px;
  padding: 6px;
  font-size: calc(4px + 2vmin);
}

.DeleteButton:hover{
  color: #272727;
  background-color: #A594F9;
  border: 2px solid #A594F9;
  cursor: pointer;
}

@media(max-width: 768px) {
  .speechoutput {
    width: 80vw;
  }
  .SpeechInput {
    width: 80vw;
  }
} 

.MessageForm{
  margin: auto;
  width: 55%;
  color: #EBEBEB;
  background-color:#272727;
  box-shadow: 0px 8px 8px 2px #1c1c1c;
  padding: 25px;
  border-radius: 25px;
  font-size: 18px;
  letter-spacing: 3px; 
}

@media(max-width: 768px) {
  .MessageForm {
    width: 80vw;
    margin-right: 5%;
    margin-left: 5%;
  }
} 

.ModalSaveButton {
  margin-left: 20px;
  font-weight: bold;
  color: #A594F9;
  background-color: #333333;
  border: 2px solid #333333;
  border-radius: 10px;
  padding: 6px;
  font-size: calc(4px + 2vmin);
}

.ModalSaveButton:hover{
  color: #EBEBEB;
  background-color:#A594F9;
  border: 2px solid #A594F9;
  cursor: pointer;
}

.SaveForm {
  font-weight: bold;
  background-color: #272727;
  color: #EBEBEB;
}

.close {
  color: white;
  border: none;
}

.close:hover {
  color:  #A594F9;
}

.SpeechInput svg:hover path{
  fill: #A594F9 !important;
}

#stopRecord:hover path{
  fill: red !important;
}